{% extends "base.html" %}
{% block pageTitle %}Resultados de busqueda{%endblock%}

{% block pageContent %}
	<div class="container">
		<table class='highlight responsive-table centered bordered'>
			<thead>
				<tr>
				{% for campo in campos %}
					<th>{{campo['fieldName']}}</th>
				{% endfor %}	
				</tr>
			</thead>
			
			<tbody>
				{% for fila in filas %}
				<tr>
					{% for valor in fila %}
					<td>{{valor['valor']}}</td>
					{% endfor %}
					<td><a href = "profile">Ver perfil</a></td>
				</tr>
				{% endfor %}
				
			</tbody>
			
		</table>
	</div>
{% endblock %}