{% extends "base.html" %}
{% block pageTitle %}Buscar cliente{%endblock%}

{% block pageContent %}
<div class="container">
	<div>
		<form class="col s12" action="/searchCustomer" method="POST">
			<div class="row">
					<div class="row">
						Buscar cliente
					</div>

					<div class="row">
						{% for filterableField in filterableFields %}
							<div class="input-field col s10">
								<input id="{{filterableField['fieldName']}}" type="{{filterableField['fieldType']}}" class="validate" name="{{filterableField['fieldName']}}">
								<label for="{{filterableField['fieldName']}}">{{filterableField['fieldName']}}</label>
							</div>

							<div class="input-field col s2">
								<select id="{{filterableField['fieldName']}}_comparisonType" name="{{filterableField['fieldName']}}_comparisonType">
									<option value=1>==</option>
									<option value=2>!=</option>
									<option value=3><</option>
									<option value=4><=</option>
									<option value=5>></option>
									<option value=6>>=</option>
								</select>
								<label for="{{filterableField['fieldName']}}_comparisonType">Tipo de comparacion</label>
							</div>
						{% endfor %}
					</div>
			</div>

			<div>
				<a href="#!" class="waves-effect waves-green btn-flat"><input type="submit" name="submit"></a>
			</div>
		</form>
	</div>
</div>
{% endblock %}