{% extends "base.html" %}
{% block pageTitle %}Resultados de busqueda{%endblock%}

{% block pageContent %}
	<div class="container">
		<table class='highlight responsive-table centered bordered'>
			<thead>
				<tr>
					<th>Heading 1</th>
					<th>Heading 2</th>
					<th>Heading 3</th>
				</tr>
			</thead>
			
			<tbody>
				<tr>
					<td>Data 1</td>
					<td>Data 2</td>
					<td>Data 3</td>
				</tr>

				<tr>
					<td>Data 4</td>
					<td>Data 5</td>
					<td>Data 6</td>
				</tr>
			</tbody>
			
		</table>
	</div>
{% endblock %}